body{
  font-family: $base-font;
}

h2{
  font-family: $bebas-neue;
}

.background-image{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-gutters{
  padding-left:0;
  padding-right:0;
  margin-left: 0;
  margin-right: 0;
}

.btn-hover{
  @include opacity(1);
  @include animate ( opacity, 320ms);
  &:hover{
    @include opacity(0.9);
  }
}

.float-right{
  float: right;
}

.image-fading{
  background-size: fixed;
  img {
    opacity: 1;
    @include animate(all, 640ms);
    @include transform(scale(1));
  }
  &:hover{
    img {
      opacity: 0;
      @include transform(scale(0));
    }
  }
  @media (max-width: 768px) {
    background-size: 0 0;
    &:hover{
      img {
        opacity: 1;
        @include transform(scale(1));
      }
    }
  }
}

.img-share{
  position: relative;
  .share-buttons{
    opacity: 0;
    @include animate(opacity, 320ms);
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  &:hover{
    .share-buttons {
      opacity: 1;
    }
  }
}