.main-navigation{
  background-color: $purple-blue;
  color:white;
  border-bottom: 2px solid $system-red;
  margin-bottom: 0;
  .main-navbar {
    > li {
      >a, a:visited {
        color: white;
        text-transform: uppercase;
        font-size: px2em(13);
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    > li:hover,
    li:focus,
    li.active,
    li.dropdown.active.open,
    li.dropdown.open {
      >a,
       a:hover,
       a:focus,
       a:active {
        color: white;
        background-color: $purple-red;
      }
    }
    li.dropdown.active.open,
    li.dropdown.open {
      > ul.dropdown-menu {
        @include border-radius(15px);
        padding: 10px;
        > li > a {
          padding-left: 0;
          padding-right: 0;
          line-height: 2em;
          color: black;
          font-size: px2em(15);
          font-weight: 700;
          background-color: white;
          border-bottom: 1px solid rgba(black, 0.1);
          white-space: normal;
          .float-right{
            color: $system-red;
          }
        }
        > li:last-child {
           > a {
             border-bottom: none;
           }
        }
      }
    }
  }
  .login-navbar {
    > li {
      >a, a:visited {
        color: white;
        text-transform: uppercase;
        font-size: px2em(13);
        background-color: $system-red;
      }
    }
    > li:hover,
    li:focus,
    li.active,
    li.dropdown.active.open,
    li.dropdown.open {
      >a,
       a:hover,
       a:focus,
       a:active {
        color: white;
        background-color: $system-red;
      }
    }
    li.dropdown.active.open,
    li.dropdown.open {
      > ul.dropdown-menu {
        padding: 14px;
        width: 286px;
        background-color: $system-red;
        border: none;
        > li {
          font-size: px2em(13);
          font-weight: 700;
          a {
            text-transform: uppercase;
            background-color: $system-red;
            width: 150px;
            display: inline-block;
            padding-left: 10px;
            line-height: 28px;
            margin-top: 10px;
          }
          input{
            @include border-radius(8px);
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            color: black;
            border: none;
          }
          button{
            @include border-radius(5px);
            width: 88px;
            height: 28px;
            color: $system-red;
            background-color: white;
            text-transform: uppercase;
            border: none;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
// Change nav collapse width
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    display: none;
    overflow: hidden!important;
  }
}
.main-navigation .navbar-toggle {
  float:left;
  border: none;
  margin-left: 15px;
  .icon-bar{
    background-color: white;
  }
  &:hover, &:focus, &:active{
     background-color: $purple-red;
  }
}
.navbar-collapse.collapse.in{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(black, 0.8);
  z-index: 9999;
  text-align: center;
  width: 92%;
  max-width: 500px;
  border-right: 3px solid $system-red;
  li>a{
    font-size: px2em(16);
  }
  ul.dropdown-menu > li > a {
    background: rgba(black, 0.2)!important;
    color:white!important;
    text-align: center;
    .fa{
      float:none;
    }
  }
}
.btn-join-us{
  margin: 8px 15px 8px 0;
  text-decoration: none;
  padding: 5px 10px;
  background-color: $system-red;
  font-weight: 400;
  text-transform: uppercase;
  &, &:hover, &:focus, &:visited{
    color:white;
    text-decoration: none;
  }
}
.collapsed-image{
  padding: 25px 5px;
  position: relative;
  .fa {
    position: absolute;
    top:10px;
    right: 20px;
    font-size: px2em(16);
    cursor: pointer;
  }
  img{
    margin: 15px auto;
  }
}
li.collapsed-buttons{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
  a{
    display: inline-block;
    width: 136px;
  }
  a:first-child{
    width: 100px;
  }
}